@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .dark .stage::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -10px;
        width: 24px;
        height: 24px;
        z-index: 1;
        border-radius: 0 0 0 25px;
        transform: translateY(-50%) rotate(225deg);
        border-right: 4px solid #030712 !important;
        border-top: 4px solid #030712 !important;
    }

    [dir="ltr"] .stage::before {
        display: none;
    }
}
