.sms77-icon {
  background-image: url("../images/sms77-48x48.png");
}

.menu-item {
  .sms77-icon {
    filter: grayscale(100%);
    height: 48px;
    width: 48px;
  }
}

.action {
  .sms77-icon {
    filter: drop-shadow(10px 10px 10px #7D919A) brightness(0%);
    height: 24px;
    width: 24px;
  }
}

.active {
  .sms77-icon, &.sms77-icon {
    filter: invert(46%) sepia(100%) saturate(3324%) hue-rotate(177deg) brightness(97%) contrast(89%);
  }
}
